/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0px 60px;
    padding: 10px 10px;
    text-align: center;


}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    border-bottom: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: black;
}

.botao-amarelo {
    background-color: #ffaf43;
    position: relative;
    bottom: 0;
    width: 60%;
    height: 10%;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 25px;
    width: 80px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding: 30px 230px;
    text-align: center;
    
}

#container-de-descricao>ol {
    padding: 100px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

button:active{
    color: white;
    background-color: tomato;
}

.container-do-search {
    margin-top:30px;
    border: 1px solid black;
    height: 200px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    
}

#back-button:hover {
    background-color: #635a3d
    
}